*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: black;
    background-image: url('imagens/pexels-emiliano-arano-1350197.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    background-color:steelblue;
    padding: 25px;
    text-align: right;
}
a{
    color: white;
    text-decoration: none;
    padding: 15px;
}
a:hover{
    background-color: darkcyan;
    padding: 5px;
    
}
h1{
    color: white;
    text-align: center;
    vertical-align: center;
}