*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: hsl(30, 38%, 92%);
}
main{
    background-color: white;
    width: 200px;
    height: 300px;
    margin:auto;
    margin-top: 300px;

}
div.imagem{
    text-align: center;
}